<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13581156412-il5au6g8uutbf7q60f3uktilgjc3h5b2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13581156412-il5au6g8uutbf7q60f3uktilgjc3h5b2</string>
	<key>API_KEY</key>
	<string>AIzaSyCbNexQ-kaXWhwf9i9_RfdsrMjoa-OhN1w</string>
	<key>GCM_SENDER_ID</key>
	<string>13581156412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connect.TodoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-adb5c</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-adb5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13581156412:ios:d913c654840f15e65a8339</string>
	<key>DATABASE_URL</key>
	<string>https://todoapp-adb5c.firebaseio.com</string>
</dict>
</plist>